*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    background: radial-gradient(rgb(253, 253, 253),#86eeee);
}
.contaner{
    max-width: 1300px;
    margin: auto;
    padding: 0 25px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.nav-list{
    flex: 5;
    text-align: right;
}
.nav-list ul{
    display: inline-block;
    list-style-type: none;
}
.nav-list ul li{
    display: inline-block;
    margin: 20px;
}
.nav-list ul li a{
    text-decoration: none;
    color: #555;
    font-size: 20px;
    /* transition: 0.5s; */
}
.nav-list ul li a:hover{
    font-weight: bold;
    /* transform: scale(1.5); */
    box-sizing: border-box;
}
p{
    columns: #555;
}
span{
    color: #ff523b;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.row .btn{
    display: inline-block;
    background: rgb(255, 123, 0);
    color: #fff;
    padding: 8px 25px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.4s;
    text-decoration: none;
}
.row .btn:hover{
    color: black;
    box-shadow: 1px 1px 20px gray;
}
.row-1{
    flex-basis: 50%;
    min-width: 300px;
}
.row-1 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0; 
}
.row-1 img{
    max-width: 100%;
    padding: 20px 50px;
    margin-bottom: 80px;
}
.row-1 .btn{
    display: inline-block;
    background: rgb(255, 123, 0);
    color: #fff;
    padding: 8px 25px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.4s;
    text-decoration: none;
}
.row-1 .btn:hover{
    background: rgba(68, 34, 2, 0.9);
    box-shadow: none;
    color: white;
}
.cateogory{
    margin: 70px 0;
}
.catageory-1{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.catageory-1 h2 {
    text-align: center;
    margin: 0 auto 50px;
    font-size: 2rem;
    position: relative;
    /* line-height: 60px; */
    color: #555;
}
.catageory-1 h2::after{
    content: '';
    background: #ff523b;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: px;
}
.row-2{
    flex-basis: 30%;
    min-width: 250px;
    margin-top: 30px;
}
.row-2 img{
    width: 100%;
}
.row-3{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.3s;
}
.row-3 img{
    width: 100%;
}
.row-3 h4{
    color: #555;
    font-weight: normal;
}
.row-3 p{
    font-size: 19px;
}
.rating .fa{
    color: #ff523b;
}
.row-3:hover{
transform: translateY(-8PX);
}
.row-3 h4{
    font-weight: bold;
}
.offer{
    width: 100%;
    background: radial-gradient(#86eeee, #fff);
    margin-top: 50px;
    padding-top: 40px;
}
small{
    color: #555;
}
/* testimonial */
.testimonial{
    padding: 50px;
}
.testimonial .row-1 img{
    margin-bottom: -15px;
    border-radius: 50%;
    width: 180px;
}
.testimonial .row-3{
    text-align: center;
    box-shadow: 0 0 20px 0px rgba(0,0,0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .row-3:hover{
    transform: translateY(-10px);
}
.testimonial .row-3 i{
    color: #ff523b;
}
.testimonial .fa.fa-quote-left{
    font-size: 30px;
}
.testimonial .row-3 p{
    font-size: 14px;
    color: slategray;
    margin: 5px;
}
.testimonial .row-3 h3{
    margin-bottom: 10px;
    text-transform: uppercase;
}
/* brand */
.brand{
    margin: 50px auto;
}
.brand .row-5{
    margin-top: -50px;
    width: 160px;
}
.row-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.row-5 img:hover{
    filter: grayscale(0%);
}
/* footer */
footer{
    padding: 20px;
    width: 147%;
    margin-left: -243px;
    background: #000;
    color: #8a8a8a;
}
footer h3{
    color: #fff;
    margin-bottom: 10px;
}
.footer-row-1, .footer-row-2, .footer-row-3, .footer-row-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-row-1{
    flex-basis: 30%;
}
.footer-row-1 .footer-image{
    margin-top: 10px;
}
.footer-row-1 .footer-image img{
    width: 160px;
    cursor: pointer;
}
.footer-row-2{
    flex: 1;
    text-align: center;
}
.footer-row-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-row-3, .footer-row-4{
    flex-basis: 12%;
    text-align: center;
}
 ul{
    list-style-type: none;
    cursor: pointer;
}
.footer-row-4 ul {
    display: flex;
    text-align: center;
    padding: 30px;
}
.footer-row-4 ul li i{
    font-size: 36px;
    color: #fff;
    margin-top: -9px;
    margin-right: 40px;
    transition: 0.5s;
}
.footer-row-4 ul li i:hover{
    transform: scale(1.3);
}
footer .copy{
    text-align: center;
    margin: 10px;
}
.nav-manu{
    margin-left: 20px;
    display: none;
}

.page-btn span{
    display: inline-block;
    border: 2px solid #ff523b;
    color: black;
    margin-left: 10px;
    margin-bottom: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background-color: #ff523b;
    color: #fff;
}

/* media query */
@media only screen and (max-width: 800px) {
    .nav-list ul{
        position: absolute;
        top: 70px;
        right: 10px;
        /* left: 0; */
        background: #333;
        /* width: 100%; */
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .nav-list ul li{
        display: block;
        margin-right: 50px;
    }
    .nav-list ul li a{
        color: #fff;
    }
    .nav-manu{
        display: block;
        cursor: pointer;
    }
    footer{
        width: 100%;
        margin-left: 0;
    }
    .footer-row-1 h3, p{
        margin-right: 130px;
        text-align: center;
    }
    .footer-row-1{
        flex-basis: 100%;
        margin-left: 150px;
    }
    .footer-row-2 p{
        margin-left: 130px;
    }
    .footer-row-3, .footer-row-4{
        flex-basis: 100%;
        text-align: center;
    }
    .footer-row-4 ul li i{
        font-size: 30px;
        margin-right: 60px;
    }
    .footer-row-4 ul {
        margin-left: 150px;
    }
}
@media only screen and (max-width: 600px) {
    .row{
        text-align: center;
    }
    .row-1, .row-2, .row-3, .row-5, .row{
        flex-basis: 100%;
    }
    .brand{
        margin: 0px auto;
    }
    .row-5 img{
        width: 55%;
        margin: 20px;
    }
    footer{
        width: 100%;
        margin-left: 0;
    }
    .footer-row-1 h3, p{
        margin-right: 0px;
        text-align: center;
    } 
    .footer-row-1{
        flex-basis: 100%;
        margin-left: 0;
    }
    .footer-row-2 p{
        margin-left: 0px;
    }
    .footer-row-3, .footer-row-4{
        flex-basis: 100%;
        text-align: center;
    }
    .footer-row-4 ul {
        margin-left: 30px;
    }
      
    .footer-row-4 ul li i{
        font-size: 30px;
        margin-right: 50px;
    }
    
}
